**/target
**/bin
release.properties
**/*._trace
**/*.xtextbin
**/*.xtendbin
**/*.pdf
**/*.doc
**/*.docx
**/*.zip
**/*.log
**/*.bak
**/*.class
**/*.jar
**/*.tar
**/*.contrib
**/*.copyarea.db
**/*.keep
**/*.versionsBackup
**/*.releaseBackup
**/*.lnk
**/*.idea
**/secrets.yaml
**/*.env
**/*.theia-workspace
sheep-dog-dev-svc-maven-plugin/.classpath
.vscode/settings.json
