target
bin
release.properties
**/*.xtextbin
**/*.xtendbin
**/*.pdf
**/*.doc
**/*.docx
**/*.zip
**/*.log
**/*.bak
**/*.pydevproject
**/*.class
**/*.jar
**/*.tar
**/*.contrib
**/*.copyarea.db
**/*.keep
**/*.versionsBackup
**/*.releaseBackup
**/*.lnk
**/*.idea
**/libspecs/
**/selenium*.png
**/red.xml
**/log.html
**/report.html
**/output*.xml
**/*.extracted.csv
**/*.pyc
