name: Publish Sheep Dog Dev Maven Plugin Release

on:
  workflow_dispatch:
permissions:
  contents: write
  packages: write

jobs:
  sheep-dog-dev-maven-plugin:
    uses: ./.github/workflows/release.yml
    with:
      project: 'sheep-dog-dev-maven-plugin'
      plugin: 'Maven'
    secrets: inherit
    
  merge-into-develop:
    needs: [sheep-dog-dev-maven-plugin]
    uses: ./.github/workflows/merge.yml
    with:
      source: 'main'
      target: 'develop'
    secrets: inherit      